$hexWhite: #EEEEEE;
$hexGreen: #104524;
$hexYellow: #FEC338;
$hexBlack: #313131;
$filterWhite: invert(99%) sepia(3%) saturate(2328%) hue-rotate(210deg) brightness(119%) contrast(87%);
$filterGreen: invert(17%) sepia(19%) saturate(3985%) hue-rotate(109deg) brightness(90%) contrast(87%);
$filterYellow: invert(82%) sepia(62%) saturate(637%) hue-rotate(331deg) brightness(102%) contrast(99%);
$filterBlack: invert(14%) sepia(41%) saturate(0%) hue-rotate(162deg) brightness(99%) contrast(88%);


@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: auto;
}
body {
    // height: 100vh;
    background-image: url(img/bg_patern.png);

    color: white;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

.clWhite {
    background-color: $hexWhite !important;
}
.clGreen {
    background-color: $hexGreen !important;
}
.clYellow {
    background-color: $hexYellow !important; 
}
.clBlack {
    background-color: $hexBlack !important;
}
.txtWhite {
    color: $hexWhite;
}
.txtGreen {
    color: $hexGreen;
}
.txtYellow {
    color: $hexYellow;
}
.txtBlack {
    color: $hexBlack;
}

#notice {
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    text-align: center;
    gap: .25rem;

    a {
        font-weight: bold;
        color: white;
    }
    .notice {
        width: 100%;
        background-color: rgba($color: #3C3C56, $alpha: .7);
        border-radius: 5px;
        padding: 1rem;
    }
    .noticeAlert {
        margin: .5rem auto;
        background-color: rgba($color: #b82b2b, $alpha: .7);
    }
}

#previewContainer {
    width: 90vw;
    height: 100%;
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
#previewWrapper, #inputWrapper, #generateWrapper {
    text-align: center;
    background-color: rgba($color: white, $alpha: .1);
    padding: 0 2rem 1rem 2rem;
    border: 1px solid white;
    border-radius: 15px;
    margin: 0 .5rem;

    h1 {
        font-weight: bold;
        font-size: 32px;
        margin: 1rem auto;
    }
}
#generateWrapper {
    width: 40vw;
    margin: auto;
    display: block;
    text-align: center;
    opacity: 1;
}

#preview {
    width: 660px;
    height: 330px;
    display: flex;
    flex-direction: column;
    font-size: 60px;
    padding: 1rem;
    background-color: $hexWhite;

    .top {
        width: 100%;
        height: 25%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 0px;

        #prefecture {
            display: inline-block;
            width: 50%;
            height: 4rem;
            margin-right: .75rem;
            background-color: $hexGreen;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            mask: url("img/undefined.png");
            mask-repeat: no-repeat;
            mask-size: contain;
            mask-position: right;
        }

        #engine {
            display: flex;
            flex-direction: row;
            
            div {
                width: 2.5rem;
                height: 4rem;
            }

            .engine1 {
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                mask: url("img/num/0.png");
                mask-repeat: no-repeat;
                mask-size: contain;
                mask-position: center;
            }
            .engine2 {
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                mask: url("img/num/0.png");
                mask-repeat: no-repeat;
                mask-size: contain;
                mask-position: center;
            }
            .engine3{
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                mask: url("img/num/0.png");
                mask-repeat: no-repeat;
                mask-size: contain;
                mask-position: center;
            }
        }
    }

    .bottom {
        height: 70%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-top: 1rem;
        margin-left: 1rem;

        #hiragana {
            width: 65px;
            height: 65px;
            display: block;

            background-color: $hexGreen;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            mask: url("img/undefined.png");
            mask-repeat: no-repeat;
            mask-size: contain;
        }
        #number {
            display: flex;
            flex-direction: row;

            div {
                width: 100px;
                height: 200px;
                margin: 1rem .25rem; 

                position: relative;
                left: .75rem;
            }

            .num1 {
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                mask: url("img/num/0.png");
                mask-repeat: no-repeat;
                mask-size: contain;
                mask-position: center;
            }
            .num2 {
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                mask-image: url("img/num/0.png");
                mask-repeat: no-repeat;
                mask-size: contain;
                mask-position: center;
            }
            .num3 {
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                mask-image: url("img/num/-.png");
                mask-repeat: no-repeat;
                mask-size: contain;
                mask-position: center;
                transform: scale(.5);
                transform-origin: center;
                margin: auto; 
            }
            .num4 {
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                mask-image: url("img/num/0.png");
                mask-repeat: no-repeat;
                mask-size: contain;
                mask-position: center;
            }
            .num5 {
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                mask-image: url("img/num/0.png");
                mask-repeat: no-repeat;
                mask-size: contain;
                mask-position: center;
            }
        }
    }
}

#editor {
    display: flex;
    flex-direction: column;
    margin: auto 2rem;
    
    label {
        font-weight: bold;
        font-size: 16px;
    }

    span.sub {
        font-size: 12px;
    }

    select, input {
        width: auto;
        height: 24px;
    }

    button {
        width: auto;
        height: 32px;
        margin: .25rem 0;
        font-size: 18px;
        cursor: pointer;
        outline: none;
    }

    .warning {
        margin: 5px auto;
        color:#f33b3b;
        font-weight: bold;
    }
}

#generate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    
    transition: 1s all;

    .generatedPlate {
        width: 75%;
    }
}

#footer {
    width: 100vw;
    height: 7rem;
    padding: 0;
    background-color: #101010;
    border-top: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;

    .contact {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: .25rem;
        font-size: 32px;

        i {
            margin: 5px;
        }
        a {
            text-decoration: none;
            font-weight: bold;
            font-size: 20px;
            color: white;
            margin: 10px;
        }
    }
}
